/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}

.ellip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.after-cls:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.forbid {
  opacity: .8 !important;
  cursor: not-allowed;
}
/*字体大小*/
.f12 {
  font-size: 12px !important;
}
.f13 {
  font-size: 13px !important;
}
.f14 {
  font-size: 14px !important;
}
.f15 {
  font-size: 15px !important;
}
.f16 {
  font-size: 16px !important;
}
.f17 {
  font-size: 17px !important;
}
.f18 {
  font-size: 18px !important;
}
.f19 {
  font-size: 19px !important;
}
.f20 {
  font-size: 20px !important;
}
.f21 {
  font-size: 21px !important;
}
.f22 {
  font-size: 22px !important;
}
.f23 {
  font-size: 23px !important;
}
.f24 {
  font-size: 24px !important;
}
.f25 {
  font-size: 25px !important;
}
.f26 {
  font-size: 26px !important;
}
.f27 {
  font-size: 27px !important;
}
.f28 {
  font-size: 28px !important;
}
.f29 {
  font-size: 29px !important;
}
.f30 {
  font-size: 30px !important;
}
.f31 {
  font-size: 31px !important;
}
.f32 {
  font-size: 32px !important;
}
/*字体粗细*/
.fb {
  font-weight: bold !important;
}
.fn {
  font-weight: normal !important;
}
.underline {
  text-decoration: underline;
}
/*水平对齐方式*/
.ta-l {
  text-align: left !important;
}
.ta-c {
  text-align: center !important;
}
.ta-r {
  text-align: right !important;
}
/*垂直对齐方式*/
.va-s {
  vertical-align: sub !important;
}
.va-m {
  vertical-align: middle !important;
}
.va-t {
  vertical-align: top !important;
}
.va-b {
  vertical-align: bottom !important;
}
.va-tt {
  vertical-align: text-top !important;
}
.va-tb {
  vertical-align: text-bottom !important;
}
/*长度*/
.w1 {
  width: 1px !important;
}
.w2 {
  width: 2px !important;
}
.w3 {
  width: 3px !important;
}
.w4 {
  width: 4px !important;
}
.w5 {
  width: 5px !important;
}
.w6 {
  width: 6px !important;
}
.w7 {
  width: 7px !important;
}
.w8 {
  width: 8px !important;
}
.w9 {
  width: 9px !important;
}
.w10 {
  width: 10px !important;
}
.w11 {
  width: 11px !important;
}
.w12 {
  width: 12px !important;
}
.w13 {
  width: 13px !important;
}
.w14 {
  width: 14px !important;
}
.w15 {
  width: 15px !important;
}
.w16 {
  width: 16px !important;
}
.w17 {
  width: 17px !important;
}
.w18 {
  width: 18px !important;
}
.w19 {
  width: 19px !important;
}
.w20 {
  width: 20px !important;
}
.w21 {
  width: 21px !important;
}
.w22 {
  width: 22px !important;
}
.w23 {
  width: 23px !important;
}
.w24 {
  width: 24px !important;
}
.w25 {
  width: 25px !important;
}
.w26 {
  width: 26px !important;
}
.w27 {
  width: 27px !important;
}
.w28 {
  width: 28px !important;
}
.w29 {
  width: 29px !important;
}
.w30 {
  width: 30px !important;
}
.w31 {
  width: 31px !important;
}
.w32 {
  width: 32px !important;
}
.w33 {
  width: 33px !important;
}
.w34 {
  width: 34px !important;
}
.w35 {
  width: 35px !important;
}
.w36 {
  width: 36px !important;
}
.w37 {
  width: 37px !important;
}
.w38 {
  width: 38px !important;
}
.w39 {
  width: 39px !important;
}
.w40 {
  width: 40px !important;
}
.w41 {
  width: 41px !important;
}
.w42 {
  width: 42px !important;
}
.w43 {
  width: 43px !important;
}
.w44 {
  width: 44px !important;
}
.w45 {
  width: 45px !important;
}
.w46 {
  width: 46px !important;
}
.w47 {
  width: 47px !important;
}
.w48 {
  width: 48px !important;
}
.w49 {
  width: 49px !important;
}
.w50 {
  width: 50px !important;
}
.w60 {
  width: 60px !important;
}
.w70 {
  width: 70px !important;
}
.w80 {
  width: 80px !important;
}
.w90 {
  width: 90px !important;
}
.w100 {
  width: 100px !important;
}
.w110 {
  width: 110px !important;
}
.w120 {
  width: 120px !important;
}
.w130 {
  width: 130px !important;
}
.w140 {
  width: 140px !important;
}
.w150 {
  width: 150px !important;
}
.w160 {
  width: 160px !important;
}
.w170 {
  width: 170px !important;
}
.w180 {
  width: 180px !important;
}
.w190 {
  width: 190px !important;
}
.w200 {
  width: 200px !important;
}
.w250 {
  width: 250px !important;
}
.w300 {
  width: 300px !important;
}
.w350 {
  width: 350px !important;
}
.w400 {
  width: 400px !important;
}
.w450 {
  width: 450px !important;
}
.w500 {
  width: 500px !important;
}
.w550 {
  width: 550px !important;
}
.w600 {
  width: 600px !important;
}
.w650 {
  width: 650px !important;
}
.w700 {
  width: 700px !important;
}
.w750 {
  width: 750px !important;
}
.w800 {
  width: 800px !important;
}
.w850 {
  width: 850px !important;
}
.w900 {
  width: 900px !important;
}
.w950 {
  width: 950px !important;
}
.w1000 {
  width: 1000px !important;
}
.w1050 {
  width: 1050px !important;
}
.w1100 {
  width: 1100px !important;
}
.w1150 {
  width: 1150px !important;
}
.w1200 {
  width: 1200px !important;
}
.w-all {
  width: 100% !important;
}
.w-auto {
  width: auto !important;
}
/*高度*/
.h1 {
  height: 1px !important;
}
.h2 {
  height: 2px !important;
}
.h3 {
  height: 3px !important;
}
.h4 {
  height: 4px !important;
}
.h5 {
  height: 5px !important;
}
.h6 {
  height: 6px !important;
}
.h7 {
  height: 7px !important;
}
.h8 {
  height: 8px !important;
}
.h9 {
  height: 9px !important;
}
.h10 {
  height: 10px !important;
}
.h11 {
  height: 11px !important;
}
.h12 {
  height: 12px !important;
}
.h13 {
  height: 13px !important;
}
.h14 {
  height: 14px !important;
}
.h15 {
  height: 15px !important;
}
.h16 {
  height: 16px !important;
}
.h17 {
  height: 17px !important;
}
.h18 {
  height: 18px !important;
}
.h19 {
  height: 19px !important;
}
.h20 {
  height: 20px !important;
}
.h21 {
  height: 21px !important;
}
.h22 {
  height: 22px !important;
}
.h23 {
  height: 23px !important;
}
.h24 {
  height: 24px !important;
}
.h25 {
  height: 25px !important;
}
.h26 {
  height: 26px !important;
}
.h27 {
  height: 27px !important;
}
.h28 {
  height: 28px !important;
}
.h29 {
  height: 29px !important;
}
.h30 {
  height: 30px !important;
}
.h31 {
  height: 31px !important;
}
.h32 {
  height: 32px !important;
}
.h33 {
  height: 33px !important;
}
.h34 {
  height: 34px !important;
}
.h35 {
  height: 35px !important;
}
.h36 {
  height: 36px !important;
}
.h37 {
  height: 37px !important;
}
.h38 {
  height: 38px !important;
}
.h39 {
  height: 39px !important;
}
.h40 {
  height: 40px !important;
}
.h41 {
  height: 41px !important;
}
.h42 {
  height: 42px !important;
}
.h43 {
  height: 43px !important;
}
.h44 {
  height: 44px !important;
}
.h45 {
  height: 45px !important;
}
.h46 {
  height: 46px !important;
}
.h47 {
  height: 47px !important;
}
.h48 {
  height: 48px !important;
}
.h49 {
  height: 49px !important;
}
.h50 {
  height: 50px !important;
}
.h60 {
  height: 60px !important;
}
.h70 {
  height: 70px !important;
}
.h80 {
  height: 80px !important;
}
.h90 {
  height: 90px !important;
}
.h100 {
  height: 100px !important;
}
.h110 {
  height: 110px !important;
}
.h120 {
  height: 120px !important;
}
.h130 {
  height: 130px !important;
}
.h140 {
  height: 140px !important;
}
.h150 {
  height: 150px !important;
}
.h160 {
  height: 160px !important;
}
.h170 {
  height: 170px !important;
}
.h180 {
  height: 180px !important;
}
.h190 {
  height: 190px !important;
}
.h200 {
  height: 200px !important;
}
/*margin外边距*/
.mt0 {
  margin-top: 0px !important;
}
.mt1 {
  margin-top: 1px !important;
}
.mt2 {
  margin-top: 2px !important;
}
.mt3 {
  margin-top: 3px !important;
}
.mt4 {
  margin-top: 4px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt6 {
  margin-top: 6px !important;
}
.mt7 {
  margin-top: 7px !important;
}
.mt8 {
  margin-top: 8px !important;
}
.mt9 {
  margin-top: 9px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt11 {
  margin-top: 11px !important;
}
.mt12 {
  margin-top: 12px !important;
}
.mt13 {
  margin-top: 13px !important;
}
.mt14 {
  margin-top: 14px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt16 {
  margin-top: 16px !important;
}
.mt17 {
  margin-top: 17px !important;
}
.mt18 {
  margin-top: 18px !important;
}
.mt19 {
  margin-top: 19px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt21 {
  margin-top: 21px !important;
}
.mt22 {
  margin-top: 22px !important;
}
.mt23 {
  margin-top: 23px !important;
}
.mt24 {
  margin-top: 24px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt26 {
  margin-top: 26px !important;
}
.mt27 {
  margin-top: 27px !important;
}
.mt28 {
  margin-top: 28px !important;
}
.mt29 {
  margin-top: 29px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt31 {
  margin-top: 31px !important;
}
.mt32 {
  margin-top: 32px !important;
}
.mt33 {
  margin-top: 33px !important;
}
.mt34 {
  margin-top: 34px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mt36 {
  margin-top: 36px !important;
}
.mt37 {
  margin-top: 37px !important;
}
.mt38 {
  margin-top: 38px !important;
}
.mt39 {
  margin-top: 39px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt41 {
  margin-top: 41px !important;
}
.mt42 {
  margin-top: 42px !important;
}
.mt43 {
  margin-top: 43px !important;
}
.mt44 {
  margin-top: 44px !important;
}
.mt45 {
  margin-top: 45px !important;
}
.mt46 {
  margin-top: 46px !important;
}
.mt47 {
  margin-top: 47px !important;
}
.mt48 {
  margin-top: 48px !important;
}
.mt49 {
  margin-top: 49px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.mb1 {
  margin-bottom: 1px !important;
}
.mb2 {
  margin-bottom: 2px !important;
}
.mb3 {
  margin-bottom: 3px !important;
}
.mb4 {
  margin-bottom: 4px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb6 {
  margin-bottom: 6px !important;
}
.mb7 {
  margin-bottom: 7px !important;
}
.mb8 {
  margin-bottom: 8px !important;
}
.mb9 {
  margin-bottom: 9px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb11 {
  margin-bottom: 11px !important;
}
.mb12 {
  margin-bottom: 12px !important;
}
.mb13 {
  margin-bottom: 13px !important;
}
.mb14 {
  margin-bottom: 14px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb16 {
  margin-bottom: 16px !important;
}
.mb17 {
  margin-bottom: 17px !important;
}
.mb18 {
  margin-bottom: 18px !important;
}
.mb19 {
  margin-bottom: 19px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb21 {
  margin-bottom: 21px !important;
}
.mb22 {
  margin-bottom: 22px !important;
}
.mb23 {
  margin-bottom: 23px !important;
}
.mb24 {
  margin-bottom: 24px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb26 {
  margin-bottom: 26px !important;
}
.mb27 {
  margin-bottom: 27px !important;
}
.mb28 {
  margin-bottom: 28px !important;
}
.mb29 {
  margin-bottom: 29px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb31 {
  margin-bottom: 31px !important;
}
.mb32 {
  margin-bottom: 32px !important;
}
.mb33 {
  margin-bottom: 33px !important;
}
.mb34 {
  margin-bottom: 34px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb36 {
  margin-bottom: 36px !important;
}
.mb37 {
  margin-bottom: 37px !important;
}
.mb38 {
  margin-bottom: 38px !important;
}
.mb39 {
  margin-bottom: 39px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb41 {
  margin-bottom: 41px !important;
}
.mb42 {
  margin-bottom: 42px !important;
}
.mb43 {
  margin-bottom: 43px !important;
}
.mb44 {
  margin-bottom: 44px !important;
}
.mb45 {
  margin-bottom: 45px !important;
}
.mb46 {
  margin-bottom: 46px !important;
}
.mb47 {
  margin-bottom: 47px !important;
}
.mb48 {
  margin-bottom: 48px !important;
}
.mb49 {
  margin-bottom: 49px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.ml1 {
  margin-left: 1px !important;
}
.ml2 {
  margin-left: 2px !important;
}
.ml3 {
  margin-left: 3px !important;
}
.ml4 {
  margin-left: 4px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml6 {
  margin-left: 6px !important;
}
.ml7 {
  margin-left: 7px !important;
}
.ml8 {
  margin-left: 8px !important;
}
.ml9 {
  margin-left: 9px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml11 {
  margin-left: 11px !important;
}
.ml12 {
  margin-left: 12px !important;
}
.ml13 {
  margin-left: 13px !important;
}
.ml14 {
  margin-left: 14px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml16 {
  margin-left: 16px !important;
}
.ml17 {
  margin-left: 17px !important;
}
.ml18 {
  margin-left: 18px !important;
}
.ml19 {
  margin-left: 19px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml21 {
  margin-left: 21px !important;
}
.ml22 {
  margin-left: 22px !important;
}
.ml23 {
  margin-left: 23px !important;
}
.ml24 {
  margin-left: 24px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.ml26 {
  margin-left: 26px !important;
}
.ml27 {
  margin-left: 27px !important;
}
.ml28 {
  margin-left: 28px !important;
}
.ml29 {
  margin-left: 29px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml31 {
  margin-left: 31px !important;
}
.ml32 {
  margin-left: 32px !important;
}
.ml33 {
  margin-left: 33px !important;
}
.ml34 {
  margin-left: 34px !important;
}
.ml35 {
  margin-left: 35px !important;
}
.ml36 {
  margin-left: 36px !important;
}
.ml37 {
  margin-left: 37px !important;
}
.ml38 {
  margin-left: 38px !important;
}
.ml39 {
  margin-left: 39px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml41 {
  margin-left: 41px !important;
}
.ml42 {
  margin-left: 42px !important;
}
.ml43 {
  margin-left: 43px !important;
}
.ml44 {
  margin-left: 44px !important;
}
.ml45 {
  margin-left: 45px !important;
}
.ml46 {
  margin-left: 46px !important;
}
.ml47 {
  margin-left: 47px !important;
}
.ml48 {
  margin-left: 48px !important;
}
.ml49 {
  margin-left: 49px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.mr1 {
  margin-right: 1px !important;
}
.mr2 {
  margin-right: 2px !important;
}
.mr3 {
  margin-right: 3px !important;
}
.mr4 {
  margin-right: 4px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr6 {
  margin-right: 6px !important;
}
.mr7 {
  margin-right: 7px !important;
}
.mr8 {
  margin-right: 8px !important;
}
.mr9 {
  margin-right: 9px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr11 {
  margin-right: 11px !important;
}
.mr12 {
  margin-right: 12px !important;
}
.mr13 {
  margin-right: 13px !important;
}
.mr14 {
  margin-right: 14px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr16 {
  margin-right: 16px !important;
}
.mr17 {
  margin-right: 17px !important;
}
.mr18 {
  margin-right: 18px !important;
}
.mr19 {
  margin-right: 19px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr21 {
  margin-right: 21px !important;
}
.mr22 {
  margin-right: 22px !important;
}
.mr23 {
  margin-right: 23px !important;
}
.mr24 {
  margin-right: 24px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mr26 {
  margin-right: 26px !important;
}
.mr27 {
  margin-right: 27px !important;
}
.mr28 {
  margin-right: 28px !important;
}
.mr29 {
  margin-right: 29px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr31 {
  margin-right: 31px !important;
}
.mr32 {
  margin-right: 32px !important;
}
.mr33 {
  margin-right: 33px !important;
}
.mr34 {
  margin-right: 34px !important;
}
.mr35 {
  margin-right: 35px !important;
}
.mr36 {
  margin-right: 36px !important;
}
.mr37 {
  margin-right: 37px !important;
}
.mr38 {
  margin-right: 38px !important;
}
.mr39 {
  margin-right: 39px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mr41 {
  margin-right: 41px !important;
}
.mr42 {
  margin-right: 42px !important;
}
.mr43 {
  margin-right: 43px !important;
}
.mr44 {
  margin-right: 44px !important;
}
.mr45 {
  margin-right: 45px !important;
}
.mr46 {
  margin-right: 46px !important;
}
.mr47 {
  margin-right: 47px !important;
}
.mr48 {
  margin-right: 48px !important;
}
.mr49 {
  margin-right: 49px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.m-auto {
  margin: 0 auto !important;
}
.margin0 {
  margin: 0 !important;
}
.margin2 {
  margin: 2px !important;
}
.margin5 {
  margin: 5px !important;
}
.margin10 {
  margin: 10px !important;
}
.margin15 {
  margin: 15px !important;
}
.margin20 {
  margin: 20px !important;
}
/*padding内边距*/
.pt0 {
  padding-top: 0px !important;
}
.pt1 {
  padding-top: 1px !important;
}
.pt2 {
  padding-top: 2px !important;
}
.pt3 {
  padding-top: 3px !important;
}
.pt4 {
  padding-top: 4px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt6 {
  padding-top: 6px !important;
}
.pt7 {
  padding-top: 7px !important;
}
.pt8 {
  padding-top: 8px !important;
}
.pt9 {
  padding-top: 9px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt11 {
  padding-top: 11px !important;
}
.pt12 {
  padding-top: 12px !important;
}
.pt13 {
  padding-top: 13px !important;
}
.pt14 {
  padding-top: 14px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt16 {
  padding-top: 16px !important;
}
.pt17 {
  padding-top: 17px !important;
}
.pt18 {
  padding-top: 18px !important;
}
.pt19 {
  padding-top: 19px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt21 {
  padding-top: 21px !important;
}
.pt22 {
  padding-top: 22px !important;
}
.pt23 {
  padding-top: 23px !important;
}
.pt24 {
  padding-top: 24px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pt26 {
  padding-top: 26px !important;
}
.pt27 {
  padding-top: 27px !important;
}
.pt28 {
  padding-top: 28px !important;
}
.pt29 {
  padding-top: 29px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt31 {
  padding-top: 31px !important;
}
.pt32 {
  padding-top: 32px !important;
}
.pt33 {
  padding-top: 33px !important;
}
.pt34 {
  padding-top: 34px !important;
}
.pt35 {
  padding-top: 35px !important;
}
.pt36 {
  padding-top: 36px !important;
}
.pt37 {
  padding-top: 37px !important;
}
.pt38 {
  padding-top: 38px !important;
}
.pt39 {
  padding-top: 39px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pt41 {
  padding-top: 41px !important;
}
.pt42 {
  padding-top: 42px !important;
}
.pt43 {
  padding-top: 43px !important;
}
.pt44 {
  padding-top: 44px !important;
}
.pt45 {
  padding-top: 45px !important;
}
.pt46 {
  padding-top: 46px !important;
}
.pt47 {
  padding-top: 47px !important;
}
.pt48 {
  padding-top: 48px !important;
}
.pt49 {
  padding-top: 49px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pb1 {
  padding-bottom: 1px !important;
}
.pb2 {
  padding-bottom: 2px !important;
}
.pb3 {
  padding-bottom: 3px !important;
}
.pb4 {
  padding-bottom: 4px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb6 {
  padding-bottom: 6px !important;
}
.pb7 {
  padding-bottom: 7px !important;
}
.pb8 {
  padding-bottom: 8px !important;
}
.pb9 {
  padding-bottom: 9px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb11 {
  padding-bottom: 11px !important;
}
.pb12 {
  padding-bottom: 12px !important;
}
.pb13 {
  padding-bottom: 13px !important;
}
.pb14 {
  padding-bottom: 14px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb16 {
  padding-bottom: 16px !important;
}
.pb17 {
  padding-bottom: 17px !important;
}
.pb18 {
  padding-bottom: 18px !important;
}
.pb19 {
  padding-bottom: 19px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb21 {
  padding-bottom: 21px !important;
}
.pb22 {
  padding-bottom: 22px !important;
}
.pb23 {
  padding-bottom: 23px !important;
}
.pb24 {
  padding-bottom: 24px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pb26 {
  padding-bottom: 26px !important;
}
.pb27 {
  padding-bottom: 27px !important;
}
.pb28 {
  padding-bottom: 28px !important;
}
.pb29 {
  padding-bottom: 29px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb31 {
  padding-bottom: 31px !important;
}
.pb32 {
  padding-bottom: 32px !important;
}
.pb33 {
  padding-bottom: 33px !important;
}
.pb34 {
  padding-bottom: 34px !important;
}
.pb35 {
  padding-bottom: 35px !important;
}
.pb36 {
  padding-bottom: 36px !important;
}
.pb37 {
  padding-bottom: 37px !important;
}
.pb38 {
  padding-bottom: 38px !important;
}
.pb39 {
  padding-bottom: 39px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pb41 {
  padding-bottom: 41px !important;
}
.pb42 {
  padding-bottom: 42px !important;
}
.pb43 {
  padding-bottom: 43px !important;
}
.pb44 {
  padding-bottom: 44px !important;
}
.pb45 {
  padding-bottom: 45px !important;
}
.pb46 {
  padding-bottom: 46px !important;
}
.pb47 {
  padding-bottom: 47px !important;
}
.pb48 {
  padding-bottom: 48px !important;
}
.pb49 {
  padding-bottom: 49px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pl0 {
  padding-left: 0px !important;
}
.pl1 {
  padding-left: 1px !important;
}
.pl2 {
  padding-left: 2px !important;
}
.pl3 {
  padding-left: 3px !important;
}
.pl4 {
  padding-left: 4px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl6 {
  padding-left: 6px !important;
}
.pl7 {
  padding-left: 7px !important;
}
.pl8 {
  padding-left: 8px !important;
}
.pl9 {
  padding-left: 9px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl11 {
  padding-left: 11px !important;
}
.pl12 {
  padding-left: 12px !important;
}
.pl13 {
  padding-left: 13px !important;
}
.pl14 {
  padding-left: 14px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl16 {
  padding-left: 16px !important;
}
.pl17 {
  padding-left: 17px !important;
}
.pl18 {
  padding-left: 18px !important;
}
.pl19 {
  padding-left: 19px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl21 {
  padding-left: 21px !important;
}
.pl22 {
  padding-left: 22px !important;
}
.pl23 {
  padding-left: 23px !important;
}
.pl24 {
  padding-left: 24px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pl26 {
  padding-left: 26px !important;
}
.pl27 {
  padding-left: 27px !important;
}
.pl28 {
  padding-left: 28px !important;
}
.pl29 {
  padding-left: 29px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl31 {
  padding-left: 31px !important;
}
.pl32 {
  padding-left: 32px !important;
}
.pl33 {
  padding-left: 33px !important;
}
.pl34 {
  padding-left: 34px !important;
}
.pl35 {
  padding-left: 35px !important;
}
.pl36 {
  padding-left: 36px !important;
}
.pl37 {
  padding-left: 37px !important;
}
.pl38 {
  padding-left: 38px !important;
}
.pl39 {
  padding-left: 39px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pl41 {
  padding-left: 41px !important;
}
.pl42 {
  padding-left: 42px !important;
}
.pl43 {
  padding-left: 43px !important;
}
.pl44 {
  padding-left: 44px !important;
}
.pl45 {
  padding-left: 45px !important;
}
.pl46 {
  padding-left: 46px !important;
}
.pl47 {
  padding-left: 47px !important;
}
.pl48 {
  padding-left: 48px !important;
}
.pl49 {
  padding-left: 49px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.pr0 {
  padding-right: 0px !important;
}
.pr1 {
  padding-right: 1px !important;
}
.pr2 {
  padding-right: 2px !important;
}
.pr3 {
  padding-right: 3px !important;
}
.pr4 {
  padding-right: 4px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr6 {
  padding-right: 6px !important;
}
.pr7 {
  padding-right: 7px !important;
}
.pr8 {
  padding-right: 8px !important;
}
.pr9 {
  padding-right: 9px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr11 {
  padding-right: 11px !important;
}
.pr12 {
  padding-right: 12px !important;
}
.pr13 {
  padding-right: 13px !important;
}
.pr14 {
  padding-right: 14px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr16 {
  padding-right: 16px !important;
}
.pr17 {
  padding-right: 17px !important;
}
.pr18 {
  padding-right: 18px !important;
}
.pr19 {
  padding-right: 19px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr21 {
  padding-right: 21px !important;
}
.pr22 {
  padding-right: 22px !important;
}
.pr23 {
  padding-right: 23px !important;
}
.pr24 {
  padding-right: 24px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pr26 {
  padding-right: 26px !important;
}
.pr27 {
  padding-right: 27px !important;
}
.pr28 {
  padding-right: 28px !important;
}
.pr29 {
  padding-right: 29px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr31 {
  padding-right: 31px !important;
}
.pr32 {
  padding-right: 32px !important;
}
.pr33 {
  padding-right: 33px !important;
}
.pr34 {
  padding-right: 34px !important;
}
.pr35 {
  padding-right: 35px !important;
}
.pr36 {
  padding-right: 36px !important;
}
.pr37 {
  padding-right: 37px !important;
}
.pr38 {
  padding-right: 38px !important;
}
.pr39 {
  padding-right: 39px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pr41 {
  padding-right: 41px !important;
}
.pr42 {
  padding-right: 42px !important;
}
.pr43 {
  padding-right: 43px !important;
}
.pr44 {
  padding-right: 44px !important;
}
.pr45 {
  padding-right: 45px !important;
}
.pr46 {
  padding-right: 46px !important;
}
.pr47 {
  padding-right: 47px !important;
}
.pr48 {
  padding-right: 48px !important;
}
.pr49 {
  padding-right: 49px !important;
}
.pr50 {
  padding-right: 50px !important;
}
.padding0 {
  padding: 0 !important;
}
.padding2 {
  padding: 2px !important;
}
.padding5 {
  padding: 5px !important;
}
.padding10 {
  padding: 10px !important;
}
.padding15 {
  padding: 15px !important;
}
.padding20 {
  padding: 20px !important;
}

/*定位position*/
.pos-fixed {
  position: fixed !important;
}
.pos-rela {
  position: relative !important;
}
.pos-abso {
  position: absolute !important;
}
/*display显示方式*/
.none {
  display: none !important;
}
.block {
  display: block !important;
}
.in-block {
  display: inline-block !important;
  *display: inline !important;
  *zoom: 1 !important;
}
/*浮动float*/
.fl-l {
  float: left !important;
}
.fl-r {
  float: right !important;
}
.clearfix {
  clear: both !important;
}

